---
import SearchBar from "./SearchBar.jsx";
---

<div class="min-h-screen w-full overflow-x-hidden bg-gray-100 flex items-center justify-center">
  <div class="w-full">
    <SearchBar client:load />
  </div>
</div>
